body {
    background: #0f172a;
    color: #e5e7eb;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    width: 350px;
    margin: 100px auto;
    padding: 30px;
    background: #020617;
    border-radius: 10px;
    box-shadow: 0 0 20px #38bdf8;
}

h2 {
    text-align: center;
    color: #38bdf8;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #020617;
    border: 1px solid #38bdf8;
    color: white;
}

button {
    width: 100%;
    padding: 10px;
    background: #38bdf8;
    border: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

a {
    color: #38bdf8;
    text-decoration: none;
}

.flash {
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
}

.flash.success {
    background: #064e3b;
    color: #6ee7b7;
    border: 1px solid #10b981;
}

.flash.error {
    background: #450a0a;
    color: #fca5a5;
    border: 1px solid #ef4444;
}

.flash.info {
    background: #1e3a8a;
    color: #93c5fd;
    border: 1px solid #3b82f6;
}

